<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="position: absolute">{{ folder }}</ion-title>
    <ion-title  class="ion-float-right" color="black" (click)="goBack()" style=" color: #7d7d7d;">назад</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngFor="let theme of themeList;">
    <ion-card  (click)="modalWindow(theme)"  *ngIf=" theme.block_id == item.id">
      <ion-card-header >
        <ion-card-subtitle>{{folder}}</ion-card-subtitle>
        <ion-card-title>{{theme.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>{{theme.desc}}
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
