<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Категории</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >

  <div *ngFor="let val of categoryBlock">
  <ion-card  (click)="openTheme(val)" *ngIf="val.category_id === idBlock">
    <ion-card-header>
      <ion-card-subtitle>{{this.block}}</ion-card-subtitle>
      <ion-card-title>{{val.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  </div>

</ion-content>
